$Futura: "FuturaPt";
$BigNoodle: "BigNoodleTitling";
$Aero: "Aero";
// @import "../../node_modules/font-awesome/css/font-awesome.min.css";
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTBold.otf");
}
@font-face {
  font-family: "BigNoodleTitling";
  src: url("../fonts/big_noodle_titling.ttf");
}
@font-face {
  font-family: "Aero";
  src: url("../fonts/Aero.ttf");
}
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .navbar {
    display: grid;
    grid-template-rows: 20vh;
    grid-template-columns: 30vw 46vw 9vw 15vw;
    z-index: 2;
    .logo {
      padding-left: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 53px;
      color: #333333;
      font-family: $Aero;
      transition: all 0.1s ease-in-out;
      z-index: 6;
      .line {
        width: 64px;
        height: 5px;
        border-radius: 5px;
        background-color: #333333;
        z-index: 6;
        transition: all 0.1s ease-in-out;
      }
    }
    .nav-links {
      display: grid;
      grid-template-rows: 20vh;
      grid-template-columns: 10vw 10vw 10vw 10vw;
      .links {
        line-height: 20vh;
        color: #303030;
        font-family: $Futura;
        font-size: 24px;
        cursor: pointer;
        z-index: 6;
      }
    }
    .icons {
      display: grid;
      grid-template-columns: 40px 40px 40px;
      cursor: pointer;
      .fa {
        line-height: 20vh;
        font-size: 26px;
        color: #5e5e60;
        z-index: 6;
      }
    }

    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      z-index: 6;
      .burger .hand {
        width: 20px;
        height: 3px;
        background-color: #242424;
        position: absolute;
        transition: all 0.1s ease-in-out;
        border-radius: 1px;
        z-index: 6;
        cursor: pointer;
        &:nth-child(1) {
          transform: translateY(-5px);
        }
        &:nth-child(3) {
          transform: translateY(5px);
        }
      }
    }
  }
  .form-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #242424;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 90%);
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
    .form-container {
      width: 100%;
      height: 60vh;
      display: flex;
      align-items: center;
      padding-left: 10vw;
      form {
        width: 50%;
        height: 90%;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        span {
          font-family: $Aero;
          color: white;
          font-size: 3em;
          padding-left: 2.5vw;
          padding-top: 2.5vw;
        }
        .inputs {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          input {
            width: 40%;
            height: 20%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #878786;
            color: #878786;
            font-size: 1.2em;
            &:focus {
              outline: none;
            }
          }
        }
        .button {
          font-size: 34px;
          font-family: $BigNoodle;
          color: #242424;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #ffffff;
          border-radius: 40px 35px;
          width: 160px;
          height: 65%;
          margin-left: 2.5vw;
          margin-top: 2.5vw;
          cursor: pointer;
        }
      }
    }
  }
  .main-container {
    display: grid;
    grid-template-rows: 10vh 75vh;
    grid-template-columns: 350px 70vw;
    transform: skewY(-2deg);
    padding-left: 10vw;
    background: url("../../src/images/component.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;

    .main-text {
      display: grid;
      transform: skewY(2deg);
      grid-row-start: 2;
      grid-template-rows: 34vh 80px 64px;
      .tagline {
        font-size: 118px;
        font-family: $BigNoodle;
      }
      .dates {
        font-family: $Aero;
        font-size: 34px;
      }
      .button {
        font-size: 34px;
        font-family: $BigNoodle;
        color: #242424;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border-radius: 40px 35px;
        width: 160px;
        cursor: pointer;
      }
    }
    .main-image {
      background: url("../../src/images/untitled.png");
      background-size: cover;
      background-repeat: no-repeat;
      grid-row-start: 2;
    }
  }
}
