$Futura: 'FuturaPt';
$BigNoodle: 'BigNoodleTitling';

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPTBold.otf');
}
@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../fonts/big_noodle_titling.ttf');
}
body{
    background: #ffffff;
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    .navbar {
        display: grid;
        grid-template-rows: 10vh;
        grid-template-columns: 20vw 40vw 20vw 20vw;

        .logo {
            font-size: 53px;
            font-family: $Futura;
        }
    }
}